.btn {
  font-family: inherit;
  font-size: 1.6rem;
  width: 16rem;
  background: #ffde7d;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;

  transition: all 0.2s;
  cursor: pointer;
}

.btn span {
  display: block;
  margin-left: 0.9em;
  transition: all 0.3s ease-in-out;
}

.btn i {
  display: block;
  transform-origin: center center;
  font-size: 1.8rem;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

.btn:hover .i-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn:hover i {
  transform: translateX(5rem) rotate(0deg) scale(1.1);
}

.btn:hover span {
  transform: translateX(15rem);
}

.btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.btn-start {
  background-color: #ffc107;
}
.btn-yes {
  background-color: #28a745;
}

.btn-no {
  background-color: #ff0018;
}

.btn-add-guess {
  background-color: #fd7e14;
  margin-top: 1.6rem;
  width: 25rem;
  padding: 0.8rem;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
}
